/***
	seb_ndv_latn_azerty CSS
	Copyright 2020 SIL International
***/

.phone.android .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.phone.ios .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.tablet.android .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.tablet.ios .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}

/* Common key appearance styles (can override with form-factor styles if necessary) */
.kmw-key-default{color:#000;background-color:#eee;}
.kmw-key-shift{color:#aaa;background-color:#ddd;}     /*color was #88f (blue) */
.kmw-key-shift-on{color:#88f;background-color:#ccf;}
/* .kmw-key-deadkey{color:#0d0;background-color:#eee;}
.kmw-key-deadkey{background: #8c4646; color:#0F0; background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.kmw-key-blank{color:#000;background-color:rgba(100,100,100,0.5);}
.kmw-key-hidden{visibility:hidden;}
.kmw-key-touched{background-color:#88f;} */

/* hide null keys */
.ios #default-T_null,
.ios #shft-T_null {visibility:hidden;}
.android #default-T_null,
.android #shft-T_null {visibility:hidden;}

/* hidden keys for seb_ndv_latn_azerty */
.ios #default-T_v1,
.ios #default-T_nbsp,
.ios #default-T_nnbsp,
.ios #default-T_zwj,
.ios #default-T_zwnj,
.ios #default-T_c1,
.ios #shift-T_v1,
.ios #shift-T_nbsp,
.ios #shift-T_nnbsp,
.ios #shift-T_zwj,
.ios #shift-T_zwnj,
.ios #shift-T_c1,
.ios #numeric-T_cent,
.ios #numeric-T_combining_macron_below,
.ios #default-T_v1,
.ios #numeric-T_nbsp,
.ios #numeric-T_nnbsp,
.ios #numeric-T_zwj,
.ios #numeric-T_zwnj,
.ios #default-T_c1,
.ios #default-T_grave,
.ios #default-T_combining_grave,
.ios #default-T_tilde,
.ios #default-T_combining_tilde,
.ios #default-T_circumflex,
.ios #default-T_combining_circumflex,
.ios #default-T_diaeresis,
.ios #default-T_combining_diaeresis,
.ios #default-T_combining_acute,
.ios #default-T_cedilla,
.ios #default-T_combining_cedilla,
.ios #default-T_overline,
.ios #default-T_inverse_question,
.ios #default-T_inverse_exclam,
.ios #default-T_caron,
.ios #symbol-T_combining_caron,
.ios #default-T_feminine,
.ios #default-T_masculine,
.ios #default-T_dotted_circle,
.ios #default-T_para,
.ios #default-T_section,
.ios #default-T_plusminus,
.ios #default-T_multiply,
.ios #default-T_divide,
.ios #default-T_brokenline,
.ios #default-T_degree,
.ios #default-T_combining_ring_below,
.ios #symbol-T_combining_ring_above,
.ios #default-T_mu,
.ios #default-T_copyright,
.ios #default-T_Sound_Recording_Copyright,
.ios #default-T_registered,
.ios #default-T_GBP,
.ios #default-T_Euro,
.ios #default-T_a0_euro,
.ios #default-T_Yen,
.ios #default-T_bullet,
.ios #default-T_middot,
.ios #default-T_v1,
.ios #symbol-T_nbsp,
.ios #symbol-T_nnbsp,
.ios #symbol-T_zwj,
.ios #symbol-T_zwnj,
.ios #default-T_c1,
.ios #default-T_a_acute,
.ios #default-T_a_circumflex,
.ios #default-T_e_grave,
.ios #default-T_u_grave,
.ios #default-T_i_grave,
.ios #default-T_o_grave,
.ios #default-T_o_acute,
.ios #default-T_a_grave,
.ios #default-T_a_diaeresis,
.ios #default-T_e_circumflex,
.ios #default-T_u_circumflex,
.ios #default-T_i_circumflex,
.ios #default-T_i_diaeresis,
.ios #default-T_o_circumflex,
.ios #default-T_o_diaeresis,
.ios #default-T_a_tilde,
.ios #default-T_ae_ligature,
.ios #default-T_e_tilde,
.ios #default-T_u_diaeresis,
.ios #default-T_u_tilde,
.ios #default-T_i_tilde,
.ios #default-T_oe_ligature,
.ios #default-T_o_tilde,
.ios #default-T_v2,
.ios #v1-T_nbsp,
.ios #v1-T_nnbsp,
.ios #v1-T_zwj,
.ios #v1-T_zwnj,
.ios #default-T_c1,
.ios #shift-T_a_acute,
.ios #shift-T_a_circumflex,
.ios #shift-T_e_grave,
.ios #shift-T_u_grave,
.ios #shift-T_i_grave,
.ios #shift-T_o_grave,
.ios #shift-T_o_acute,
.ios #shift-T_a_grave,
.ios #shift-T_a_diaeresis,
.ios #shift-T_e_circumflex,
.ios #shift-T_u_circumflex,
.ios #shift-T_i_circumflex,
.ios #shift-T_i_diaeresis,
.ios #shift-T_o_circumflex,
.ios #shift-T_o_diaeresis,
.ios #shift-T_a_tilde,
.ios #shift-T_ae_ligature,
.ios #shift-T_e_tilde,
.ios #shift-T_u_diaeresis,
.ios #shift-T_u_tilde,
.ios #shift-T_i_tilde,
.ios #shift-T_oe_ligature,
.ios #shift-T_o_tilde,
.ios #shift-T_v2,
.ios #default-T_abc,
.ios #default-T_a_ring_above,
.ios #default-T_a_macron_below,
.ios #default-T_e_macron_below,
.ios #default-T_u_macron_below,
.ios #default-T_i_macron_below,
.ios #default-T_o_stroke,
.ios #default-T_o_macron_below,
.ios #default-T_schwa,
.ios #default-T_turned_v,
.ios #default-T_turned_e,
.ios #default-T_o_open,
.ios #default-T_dblquote_left,
.ios #default-T_snglquote_left,
.ios #default-T_snglquote_right,
.ios #default-T_dblquote_right,
.ios #shift-T_a_ring_above,
.ios #shift-T_a_macron_below,
.ios #shift-T_e_macron_below,
.ios #shift-T_e_open,
.ios #shift-T_u_macron_below,
.ios #shift-T_i_macron_below,
.ios #shift-T_o_stroke,
.ios #shift-T_o_macron_below,
.ios #shift-T_schwa,
.ios #shift-T_turned_v,
.ios #shift-T_turned_e,
.ios #shift-T_o_open,
.ios #default-T_guillemet_left,
.ios #default-T_2039,
.ios #default-T_203a,
.ios #default-T_guillemet_right,
.ios #shift-T_abc,
.ios #default-T_z_caron,
.ios #default-T_z_circumflex,
.ios #default-T_t_cedilla,
.ios #default-T_t_hook,
.ios #default-T_t_stroke,
.ios #default-T_y_tilde,
.ios #default-T_p_stroke,
.ios #default-T_p_hook,
.ios #default-T_s_circumflex,
.ios #default-T_s_cedilla,
.ios #default-T_c_circumflex,
.ios #default-T_g_hook,
.ios #default-T_lowercase_saltillo,
.ios #default-T_j_caron,
.ios #default-T_k_hook,
.ios #default-T_l_ring_below,
.ios #default-T_w_tilde,
.ios #default-T_x_tilde,
.ios #default-T_c_cedilla,
.ios #default-T_c_hook,
.ios #default-T_n_grave,
.ios #default-T_abc,
.ios #shift-T_z_caron,
.ios #shift-T_z_circumflex,
.ios #shift-T_t_cedilla,
.ios #shift-T_t_hook,
.ios #shift-T_t_stroke,
.ios #shift-T_y_tilde,
.ios #shift-T_p_stroke,
.ios #shift-T_p_hook,
.ios #shift-T_s_circumflex,
.ios #shift-T_s_cedilla,
.ios #shift-T_c_circumflex,
.ios #shift-T_g_hook,
.ios #shift-T_lowercase_saltillo,
.ios #shift-T_j_caron,
.ios #shift-T_k_hook,
.ios #shift-T_l_ring_below,
.ios #shift-T_w_tilde,
.ios #shift-T_x_tilde,
.ios #shift-T_c_cedilla,
.ios #shift-T_c_hook,
.ios #shift-T_n_grave,
.ios #default-T_abc,
.ios #default-T_y_grave,
.ios #default-T_y_acute,
.ios #default-T_y_circumflex,
.ios #default-T_s_sharp,
.ios #default-T_eth,
.ios #default-T_enya,
.ios #default-T_abc,
.ios #shift-T_y_grave,
.ios #shift-T_y_acute,
.ios #shift-T_y_circumflex,
.ios #shift-T_eth,
.ios #default-T_2039_a0,
.ios #default-T_a0_203a,
.ios #shift-T_enya,
.ios #default-T_abc {background-color: white; color: white;}
.android #numeric-T_cent,
.android #numeric-T_combining_macron_below,
.android #default-T_grave,
.android #default-T_combining_grave,
.android #default-T_tilde,
.android #default-T_combining_tilde,
.android #default-T_circumflex,
.android #default-T_combining_circumflex,
.android #default-T_diaeresis,
.android #default-T_combining_diaeresis,
.android #default-T_combining_acute,
.android #default-T_cedilla,
.android #default-T_combining_cedilla,
.android #default-T_overline,
.android #default-T_inverse_question,
.android #default-T_inverse_exclam,
.android #default-T_caron,
.android #symbol-T_combining_caron,
.android #default-T_feminine,
.android #default-T_masculine,
.android #default-T_dotted_circle,
.android #default-T_para,
.android #default-T_section,
.android #default-T_plusminus,
.android #default-T_multiply,
.android #default-T_divide,
.android #default-T_brokenline,
.android #default-T_degree,
.android #default-T_combining_ring_below,
.android #symbol-T_combining_ring_above,
.android #default-T_mu,
.android #default-T_copyright,
.android #default-T_Sound_Recording_Copyright,
.android #default-T_registered,
.android #default-T_GBP,
.android #default-T_Euro,
.android #default-T_a0_euro,
.android #default-T_Yen,
.android #default-T_bullet,
.android #default-T_middot,
.android #default-T_a_acute,
.android #default-T_a_circumflex,
.android #default-T_e_grave,
.android #default-T_u_grave,
.android #default-T_i_grave,
.android #default-T_o_grave,
.android #default-T_o_acute,
.android #default-T_a_grave,
.android #default-T_a_diaeresis,
.android #default-T_e_circumflex,
.android #default-T_u_circumflex,
.android #default-T_i_circumflex,
.android #default-T_i_diaeresis,
.android #default-T_o_circumflex,
.android #default-T_o_diaeresis,
.android #default-T_a_tilde,
.android #default-T_ae_ligature,
.android #default-T_e_tilde,
.android #default-T_u_diaeresis,
.android #default-T_u_tilde,
.android #default-T_i_tilde,
.android #default-T_oe_ligature,
.android #default-T_o_tilde,
.android #shift-T_a_acute,
.android #shift-T_a_circumflex,
.android #shift-T_e_grave,
.android #shift-T_u_grave,
.android #shift-T_i_grave,
.android #shift-T_o_grave,
.android #shift-T_o_acute,
.android #shift-T_a_grave,
.android #shift-T_a_diaeresis,
.android #shift-T_e_circumflex,
.android #shift-T_u_circumflex,
.android #shift-T_i_circumflex,
.android #shift-T_i_diaeresis,
.android #shift-T_o_circumflex,
.android #shift-T_o_diaeresis,
.android #shift-T_a_tilde,
.android #shift-T_ae_ligature,
.android #shift-T_e_tilde,
.android #shift-T_u_diaeresis,
.android #shift-T_u_tilde,
.android #shift-T_i_tilde,
.android #shift-T_oe_ligature,
.android #shift-T_o_tilde,
.android #default-T_abc,
.android #default-T_a_ring_above,
.android #default-T_a_macron_below,
.android #default-T_e_macron_below,
.android #default-T_u_macron_below,
.android #default-T_i_macron_below,
.android #default-T_o_stroke,
.android #default-T_o_macron_below,
.android #default-T_schwa,
.android #default-T_turned_v,
.android #default-T_turned_e,
.android #default-T_o_open,
.android #default-T_dblquote_left,
.android #default-T_snglquote_left,
.android #default-T_snglquote_right,
.android #default-T_dblquote_right,
.android #shift-T_a_ring_above,
.android #shift-T_a_macron_below,
.android #shift-T_e_macron_below,
.android #shift-T_e_open,
.android #shift-T_u_macron_below,
.android #shift-T_i_macron_below,
.android #shift-T_o_stroke,
.android #shift-T_o_macron_below,
.android #shift-T_schwa,
.android #shift-T_turned_v,
.android #shift-T_turned_e,
.android #shift-T_o_open,
.android #default-T_guillemet_left,
.android #default-T_2039,
.android #default-T_203a,
.android #default-T_guillemet_right,
.android #shift-T_abc,
.android #default-T_z_caron,
.android #default-T_z_circumflex,
.android #default-T_t_cedilla,
.android #default-T_t_hook,
.android #default-T_t_stroke,
.android #default-T_y_tilde,
.android #default-T_p_stroke,
.android #default-T_p_hook,
.android #default-T_s_circumflex,
.android #default-T_s_cedilla,
.android #default-T_c_circumflex,
.android #default-T_g_hook,
.android #default-T_lowercase_saltillo,
.android #default-T_j_caron,
.android #default-T_k_hook,
.android #default-T_l_ring_below,
.android #default-T_w_tilde,
.android #default-T_x_tilde,
.android #default-T_c_cedilla,
.android #default-T_c_hook,
.android #default-T_n_grave,
.android #default-T_abc,
.android #shift-T_z_caron,
.android #shift-T_z_circumflex,
.android #shift-T_t_cedilla,
.android #shift-T_t_hook,
.android #shift-T_t_stroke,
.android #shift-T_y_tilde,
.android #shift-T_p_stroke,
.android #shift-T_p_hook,
.android #shift-T_s_circumflex,
.android #shift-T_s_cedilla,
.android #shift-T_c_circumflex,
.android #shift-T_g_hook,
.android #shift-T_lowercase_saltillo,
.android #shift-T_j_caron,
.android #shift-T_k_hook,
.android #shift-T_l_ring_below,
.android #shift-T_w_tilde,
.android #shift-T_x_tilde,
.android #shift-T_c_cedilla,
.android #shift-T_c_hook,
.android #shift-T_n_grave,
.android #default-T_abc,
.android #default-T_y_grave,
.android #default-T_y_acute,
.android #default-T_y_circumflex,
.android #default-T_s_sharp,
.android #default-T_eth,
.android #default-T_enya,
.android #default-T_abc,
.android #shift-T_y_grave,
.android #shift-T_y_acute,
.android #shift-T_y_circumflex,
.android #shift-T_eth,
.android #default-T_2039_a0,
.android #default-T_a0_203a,
.android #shift-T_enya,
.android #default-T_abc {background-color: white; color: white;}
