/***
	seb_ndv_arab_azerty CSS
	Copyright 2020 SIL International
***/

/* Common key appearance styles (can override with form-factor styles if necessary) */
.kmw-key-default{color:#000;background-color:#eee;}
.kmw-key-shift{color:#aaa;background-color:#ddd;}     /*color was #88f (blue) */
.kmw-key-shift-on{color:#88f;background-color:#ccf;}
/* .kmw-key-deadkey{color:#0d0;background-color:#eee;}
.kmw-key-deadkey{background: #8c4646; color:#0F0; background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.kmw-key-blank{color:#000;background-color:rgba(100,100,100,0.5);}
.kmw-key-hidden{visibility:hidden;}
.kmw-key-touched{background-color:#88f;} */

/* highlighted keys for seb_ndv_arab_azerty */
#default-K_COLON,
#default-K_V,
#default-K_H,
#default-K_S,
#default-K_Y,
#default-K_B,
#default-K_R,
#default-K_D,
#shift-K_Y,
#shift-K_G,
#default-K_P,
#default-K_BKQUOTE,
#shift-K_D,
#default-K_L,
#shift-K_B,
#default-K_K,
#default-K_C,
#default-K_N,
#shift-K_N,
#default-K_Z,
#default-K_J,
#shift-K_F,
#default-K_G {background-image: radial-gradient(ellipse, center, #eee 10%, white); color: black;}
